

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: auto auto;
}
/* h2  */

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title-text {
  color: var(--title-text-color);
}