/* Переваги */

.advantage {
    &__text {
        line-height: 1.71;
        color: var(--title-text-color);
    }
    &__list {
        display: flex;
    }
    &__icon-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 270px;
        height: 120px;
        background-color: var(--section-background-color);
        border-radius: 4px;
        margin-bottom: 30px;
        transition: var(--animation-act-color), var(--animation-act-background);
    }
    &__title-capletters {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }
     &__item+&__item {
            margin-left: 30px;
        }
}




/* Наші роботи чим ми займаємося */
.projects {
    padding-top: 0;
    &__list {
        display: flex;
        flex-direction: row;
    }
    &__item {
        position: relative;
    }
    &__text {
        padding: 27px 0;
        position: absolute;
        width: 100%;
        background-color: rgba(47, 48, 58, 0.8);
        text-align: center;
        font-size: 14px;
        line-height: 1.17;
        text-transform: uppercase;
        
        color: var(--white-text-color);
        bottom: 0;
        left: 0;
    }
        &__item + &__item {
            margin-left: 30px;
        }
}


/* Наша команда */

.team {
    background-color: var(--section-background-color);

    &__list {
            display: flex;
            flex-direction: row;
        }
    &__title--centered {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.9;
            text-align: center;
            margin-bottom: 10px;
        }
    &__text {
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            margin-bottom: 16px;
        }
        &__card {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
                        0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            background-color: var(--white-text-color);}
    &__people {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    &__card + &__card {
    margin-left: 30px;
        }
}


/* Партнери */

.partners {
    text-align: center;
    justify-content: center;
    &__logo {
            fill: currentColor;
            width: 106px;
            height: 60px;
        }
    &__item {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 90px;
        color: #afb1b8;
        border: 1px solid var(--fill-icon);
        border-radius: 4px;
        transition: var(--animation-act-color), var(--animation-border-color);
    }
    &__link:hover,
    &__link:focus {
        border: 1px solid var(--accent-color);
        color: var(--accent-color);
        }


}

/* Рамка для партнерських лого */

// /* список li */
